parameters:
    bootstrap: %currentWorkingDirectory%/phpstan-bootstrap.php
    autoload_files:
        # Includes
        - %currentWorkingDirectory%/includes/actions.inc
        - %currentWorkingDirectory%/includes/batch.inc
        - %currentWorkingDirectory%/includes/bootstrap.inc
        - %currentWorkingDirectory%/includes/cache.inc
#        - %currentWorkingDirectory%/includes/cache-install.inc
        - %currentWorkingDirectory%/includes/common.inc
        - %currentWorkingDirectory%/includes/database.inc
        - %currentWorkingDirectory%/includes/database.mysql-common.inc
        - %currentWorkingDirectory%/includes/database.mysqli.inc
#        - %currentWorkingDirectory%/includes/database.mysql.inc
#        - %currentWorkingDirectory%/includes/database.pgsql.inc
        - %currentWorkingDirectory%/includes/file.inc
        - %currentWorkingDirectory%/includes/form.inc
        - %currentWorkingDirectory%/includes/image.gd.inc
        - %currentWorkingDirectory%/includes/image.inc
        - %currentWorkingDirectory%/includes/install.inc
        - %currentWorkingDirectory%/includes/install.mysqli.inc
#        - %currentWorkingDirectory%/includes/install.mysql.inc
#        - %currentWorkingDirectory%/includes/install.pgsql.inc
        - %currentWorkingDirectory%/includes/language.inc
        - %currentWorkingDirectory%/includes/locale.inc
        - %currentWorkingDirectory%/includes/lock.inc
#        - %currentWorkingDirectory%/includes/lock-install.inc
        - %currentWorkingDirectory%/includes/mail.inc
        - %currentWorkingDirectory%/includes/menu.inc
        - %currentWorkingDirectory%/includes/module.inc
        - %currentWorkingDirectory%/includes/pager.inc
        - %currentWorkingDirectory%/includes/path.inc
        - %currentWorkingDirectory%/includes/session.inc
        - %currentWorkingDirectory%/includes/tablesort.inc
        - %currentWorkingDirectory%/includes/theme.inc
        - %currentWorkingDirectory%/includes/theme.maintenance.inc
        - %currentWorkingDirectory%/includes/unicode.entities.inc
        - %currentWorkingDirectory%/includes/unicode.inc
        - %currentWorkingDirectory%/includes/xmlrpc.inc
        - %currentWorkingDirectory%/includes/xmlrpcs.inc
        # Modules
        - %currentWorkingDirectory%/modules/tracker/tracker.pages.inc
        - %currentWorkingDirectory%/modules/tracker/tracker.module
        - %currentWorkingDirectory%/modules/dblog/dblog.admin.inc
        - %currentWorkingDirectory%/modules/dblog/dblog.install
        - %currentWorkingDirectory%/modules/dblog/dblog.module
        - %currentWorkingDirectory%/modules/profile/profile.install
        - %currentWorkingDirectory%/modules/profile/profile.module
        - %currentWorkingDirectory%/modules/profile/profile.admin.inc
        - %currentWorkingDirectory%/modules/profile/profile.pages.inc
        - %currentWorkingDirectory%/modules/book/book.pages.inc
        - %currentWorkingDirectory%/modules/book/book.module
        - %currentWorkingDirectory%/modules/book/book.admin.inc
        - %currentWorkingDirectory%/modules/book/book.install
        - %currentWorkingDirectory%/modules/search/search.install
        - %currentWorkingDirectory%/modules/search/search.pages.inc
        - %currentWorkingDirectory%/modules/search/search.module
        - %currentWorkingDirectory%/modules/search/search.admin.inc
        - %currentWorkingDirectory%/modules/translation/translation.pages.inc
        - %currentWorkingDirectory%/modules/translation/translation.module
        - %currentWorkingDirectory%/modules/aggregator/aggregator.admin.inc
        - %currentWorkingDirectory%/modules/aggregator/aggregator.pages.inc
        - %currentWorkingDirectory%/modules/aggregator/aggregator.module
        - %currentWorkingDirectory%/modules/aggregator/aggregator.install
        - %currentWorkingDirectory%/modules/user/user.admin.inc
        - %currentWorkingDirectory%/modules/user/user.pages.inc
        - %currentWorkingDirectory%/modules/user/user.install
        - %currentWorkingDirectory%/modules/user/user.module
        - %currentWorkingDirectory%/modules/forum/forum.module
        - %currentWorkingDirectory%/modules/forum/forum.admin.inc
        - %currentWorkingDirectory%/modules/forum/forum.install
        - %currentWorkingDirectory%/modules/forum/forum.pages.inc
        - %currentWorkingDirectory%/modules/statistics/statistics.admin.inc
        - %currentWorkingDirectory%/modules/statistics/statistics.pages.inc
        - %currentWorkingDirectory%/modules/statistics/statistics.module
        - %currentWorkingDirectory%/modules/statistics/statistics.install
        - %currentWorkingDirectory%/modules/menu/menu.admin.inc
        - %currentWorkingDirectory%/modules/menu/menu.module
        - %currentWorkingDirectory%/modules/menu/menu.install
        - %currentWorkingDirectory%/modules/ping/ping.module
        - %currentWorkingDirectory%/modules/update/update.module
        - %currentWorkingDirectory%/modules/update/update.settings.inc
        - %currentWorkingDirectory%/modules/update/update.fetch.inc
        - %currentWorkingDirectory%/modules/update/update.report.inc
        - %currentWorkingDirectory%/modules/update/update.compare.inc
        - %currentWorkingDirectory%/modules/update/update.install
        - %currentWorkingDirectory%/modules/php/php.install
        - %currentWorkingDirectory%/modules/php/php.module
        - %currentWorkingDirectory%/modules/color/color.install
        - %currentWorkingDirectory%/modules/color/color.module
        - %currentWorkingDirectory%/modules/poll/poll.install
        - %currentWorkingDirectory%/modules/poll/poll.pages.inc
        - %currentWorkingDirectory%/modules/poll/poll.module
        - %currentWorkingDirectory%/modules/system/system.admin.inc
        - %currentWorkingDirectory%/modules/system/system.install
        - %currentWorkingDirectory%/modules/system/system.module
        - %currentWorkingDirectory%/modules/node/node.install
        - %currentWorkingDirectory%/modules/node/node.module
        - %currentWorkingDirectory%/modules/node/content_types.inc
        - %currentWorkingDirectory%/modules/node/node.admin.inc
        - %currentWorkingDirectory%/modules/node/node.pages.inc
        - %currentWorkingDirectory%/modules/taxonomy/taxonomy.pages.inc
        - %currentWorkingDirectory%/modules/taxonomy/taxonomy.install
        - %currentWorkingDirectory%/modules/taxonomy/taxonomy.module
        - %currentWorkingDirectory%/modules/taxonomy/taxonomy.admin.inc
        - %currentWorkingDirectory%/modules/locale/locale.module
        - %currentWorkingDirectory%/modules/locale/locale.install
        - %currentWorkingDirectory%/modules/openid/xrds.inc
        - %currentWorkingDirectory%/modules/openid/openid.module
        - %currentWorkingDirectory%/modules/openid/openid.pages.inc
        - %currentWorkingDirectory%/modules/openid/openid.install
        - %currentWorkingDirectory%/modules/openid/openid.inc
        - %currentWorkingDirectory%/modules/trigger/trigger.install
        - %currentWorkingDirectory%/modules/trigger/trigger.admin.inc
        - %currentWorkingDirectory%/modules/trigger/trigger.module
        - %currentWorkingDirectory%/modules/blogapi/blogapi.install
        - %currentWorkingDirectory%/modules/blogapi/blogapi.module
        - %currentWorkingDirectory%/modules/upload/upload.install
        - %currentWorkingDirectory%/modules/upload/upload.module
        - %currentWorkingDirectory%/modules/upload/upload.admin.inc
        - %currentWorkingDirectory%/modules/block/block.admin.inc
        - %currentWorkingDirectory%/modules/block/block.module
        - %currentWorkingDirectory%/modules/block/block.install
        - %currentWorkingDirectory%/modules/contact/contact.module
        - %currentWorkingDirectory%/modules/contact/contact.install
        - %currentWorkingDirectory%/modules/contact/contact.admin.inc
        - %currentWorkingDirectory%/modules/contact/contact.pages.inc
        - %currentWorkingDirectory%/modules/path/path.module
        - %currentWorkingDirectory%/modules/path/path.admin.inc
        - %currentWorkingDirectory%/modules/throttle/throttle.admin.inc
        - %currentWorkingDirectory%/modules/throttle/throttle.module
        - %currentWorkingDirectory%/modules/syslog/syslog.install
        - %currentWorkingDirectory%/modules/syslog/syslog.module
        - %currentWorkingDirectory%/modules/comment/comment.pages.inc
        - %currentWorkingDirectory%/modules/comment/comment.module
        - %currentWorkingDirectory%/modules/comment/comment.install
        - %currentWorkingDirectory%/modules/comment/comment.admin.inc
        - %currentWorkingDirectory%/modules/blog/blog.module
        - %currentWorkingDirectory%/modules/blog/blog.pages.inc
        - %currentWorkingDirectory%/modules/filter/filter.pages.inc
        - %currentWorkingDirectory%/modules/filter/filter.admin.inc
        - %currentWorkingDirectory%/modules/filter/filter.module
        - %currentWorkingDirectory%/modules/filter/filter.install
        - %currentWorkingDirectory%/modules/help/help.admin.inc
        - %currentWorkingDirectory%/modules/help/help.module
#    autoload_directories:
    paths:
        - %currentWorkingDirectory%/includes/session.inc
        - %currentWorkingDirectory%/includes/mail.inc
        - %currentWorkingDirectory%/includes/common.inc
#        - %currentWorkingDirectory%/includes/database.pgsql.inc
        - %currentWorkingDirectory%/includes/path.inc
        - %currentWorkingDirectory%/includes/xmlrpc.inc
        - %currentWorkingDirectory%/includes/database.mysql-common.inc
        - %currentWorkingDirectory%/includes/database.mysqli.inc
        - %currentWorkingDirectory%/includes/batch.inc
        - %currentWorkingDirectory%/includes/database.mysql.inc
#        - %currentWorkingDirectory%/includes/install.pgsql.inc
#        - %currentWorkingDirectory%/includes/install.mysql.inc
        - %currentWorkingDirectory%/includes/install.mysqli.inc
        - %currentWorkingDirectory%/includes/actions.inc
        - %currentWorkingDirectory%/includes/locale.inc
        - %currentWorkingDirectory%/includes/image.gd.inc
        - %currentWorkingDirectory%/includes/unicode.entities.inc
        - %currentWorkingDirectory%/includes/xmlrpcs.inc
        - %currentWorkingDirectory%/includes/cache.inc
        - %currentWorkingDirectory%/includes/database.inc
        - %currentWorkingDirectory%/includes/language.inc
        - %currentWorkingDirectory%/includes/cache-install.inc
        - %currentWorkingDirectory%/includes/theme.maintenance.inc
        - %currentWorkingDirectory%/includes/install.inc
        - %currentWorkingDirectory%/includes/bootstrap.inc
        - %currentWorkingDirectory%/includes/menu.inc
        - %currentWorkingDirectory%/includes/file.inc
        - %currentWorkingDirectory%/includes/form.inc
        - %currentWorkingDirectory%/includes/pager.inc
        - %currentWorkingDirectory%/includes/unicode.inc
        - %currentWorkingDirectory%/includes/tablesort.inc
        - %currentWorkingDirectory%/includes/theme.inc
        - %currentWorkingDirectory%/includes/lock-install.inc
        - %currentWorkingDirectory%/includes/module.inc
        - %currentWorkingDirectory%/includes/lock.inc
        - %currentWorkingDirectory%/includes/image.inc
